<div class="contain "id="menu_font" style="padding-top:100px;padding-bottom:50px">
  
  <div style="background-color:white; padding:50px">
    <center>
    <img src="https://scontent.xx.fbcdn.net/hphotos-xtl1/v/t1.0-9/12743755_949678688441198_8346172877976822994_n.png?oh=cb8fa34f31177dcc6adeeffab4eb76c2&oe=575CA352" style="height:300px"><br>
    <h4>기술적 장벽때문에 본인의 생각을 세상 밖으로 표현하지 못하신 평택대 분들과 감동의 순간을 만들어가고 싶습니다.</h4><br>
    <a href="http://likelion.net"class="btn btn-info btn-lg">3.2 ~ 11 지원하기</a>
    </center>
  </div>

</div><!--<div style="background-color:lightgray">-->


<div style="background-color:black; padding:100px" id="menu_font">
  <div class="row">
    <div class="col-md-4">
      
        
        <div class="panel panel-default">
          <div class="panel-body" align="center">
            <h3>공 지 사 항</h3>
            <hr>
             
            <div class="list-group" align="left">
              <% Post.where("category = ?", "공지사항").last(5).reverse_each do |f|%>
              <a href="/post/view/<%=f.id%>" class="list-group-item"><%=f.id%> - <%=f.title%></a>
              <%end%>
            </div>
            
            <div align="right">
              <a class="btn btn-default btn-sm" href="/post/main">더보기</a> 
            </div>      
          </div>
        </div>
        
    </div>  
    
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" align="center">
            <h3>아 이 디 어</h3>
            <hr>
             
            <div class="list-group" align="left">
              <% Post.where("category = ?", "아이디어").last(5).reverse_each do |f|%>
              <a href="/community/view/<%=f.id%>" class="list-group-item"><%=f.id%> - <%=f.title%></a>
              <%end%>
            </div>
            
            <div align="right">
              <a class="btn btn-default btn-sm" href="/community/main?posting=아이디어">더보기</a> 
            </div>      
          </div>
        </div>
        
      
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-default">
        
          <div class="panel-body" align="center">
            <h3>프 로 젝 트</h3>
            <hr>
             
            <div class="list-group" align="left">
              <% Project.last(5).reverse_each do |f|%>
              <a href="/project/main?view_post=<%=f.id%>" class="list-group-item"><%=f.id%> - <%=f.title%></a>
              <%end%>
            </div>
            
            <div align="right">
              <% if Project.count == 0%>
                <a class="btn btn-default btn-sm" href="/project/main?view_post=등록된 프로젝트가 없습니다.">더보기</a> 
              <% else%>
                <a class="btn btn-default btn-sm" href="/project/main?view_post=<%=Project.last.id%>">더보기</a> 
              <%end%>
              
            </div>      
          </div>
        </div>
        
    </div>
  </div>
</div>

